  .container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 20%;
    height: 40%;
    padding: 2rem;
    border-radius: 0.7rem;
    background-color: whitesmoke;
    box-shadow: rgba(255, 255, 255, 0.1) 0px 1px 1px 0px inset, rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
  }
  
  .container h2 {
    color: black;
    margin: 1rem 0rem;
    font-family: 'Roboto', sans-serif;
  }
  
  .container input {
    width: 70%;
    padding: 1rem;
    border-radius: 5px;
    border: 1px solid #d3d3d3;
  }
  
  .container button {
    padding: 1em;
    margin: 0 0.5rem;
    cursor: pointer;
    border: 1px solid #d3d3d3;
    border-radius: 0.7rem;
    background-color: whitesmoke;
  }
  
  .container button:hover {
    background-color: rgba(0, 0, 0, 0.1);
  }
